body {
	margin: 0 auto;
	background: #000;
	box-sizing: border-box;
	background: url(assets/images/light_grey/light_grey.png);
}

.header-align {
	width: 100%;
	background-color: #ffffff;
	border-bottom-color: #cccccc;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.header {
	width: 960px;
	margin: 0px auto;
	background-color: #ffffff;
	height: 100px;

}

h1 {
	color: #ffffff;
	background-color: #4aaaa5;
	float: left;
	padding: 36px;
	font-weight: bold;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-size: 28px

}

.content {
	width: 960p
	height: 2000px;
	width: 960px;
	margin:30px auto;
}

.nav {
	background-color: #ffffff;
	color: #4aaaa5;
	list-style: none;
	float: right;
	padding: 20px 0px;
}

.nav ul {
	margin: 20px 50px 0px 0px;
}

.nav li {
	display: inline-block;
	font-size: 18px;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.nav a {
	text-decoration: none;
	color: #4aaaa5;
}

#about,
#portfolio {
	border-right: 1px solid #cccccc;
	padding: 0 15px;
}

#contact {
	padding: 0 15px;
}

.main-left {
	width: 650px;
	float: left;
	margin: 0px auto;
	background-color: #ffffff;
	height: 600px;
	width: calc(70% - 30px);
	border: 1px solid #dddddd;
}

.main-left h2 {
	color: #4aaaa5;
	font-weight: bold;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-size: 28px;
	border-bottom: 3px solid #dddddd;
	margin: 50px 30px;
	padding-bottom: 30px;
}

#profile {
	float: left;
	margin: 0 25px 0 30px;
}

.main-left p {
	padding: 0 10px 10px 10px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 200%;
	color: #777777;

}
.aside {
	float: left;
	width: 30%;
	background-color: #ffffff;
	height: 200px;
	border: 1px solid #dddddd;
	margin-left: 25px;

}

.aside h3 {
	color: #4aaaa5;
	padding: 36px;
	font-weight: bold;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-size: 20px;
	border-bottom: 1.5px solid #dddddd;
	margin: 0 20px;
}

.logos {
	padding: 30px 30px 30px 2px;
	text-align: center;
	margin-left: 60px;
}

#github,
#linkedin,
#stackoverflow {
	float: left;
	padding: 0 4px;
}

.clear-fix::after {
	clear: both;
	content: '';
	display: block;
}

.footer-align {
	width: 100%;
	background-color: #666666;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #4aaaa5;

}

.footer {
	background-color: #666666;
	height: 80px;
	width: 960px;
	margin: 0px auto;
}

.footer p {
	text-align: center;
	color: #dddddd;
	font-size: 10px;
}

.copyright {
	margin-top: 50px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
}