Profile Picture: https://pbs.twimg.com/media/DDVUpWdW0AAg6HJ.png

Social Media Icons:
	Github: https://cdn0.iconfinder.com/data/icons/social-media-logos-6-free/32/social_media_logo_github-128.png
	Linkedin: https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-22-128.png
	Stackoverflow: https://cdn3.iconfinder.com/data/icons/inficons/128/stackoverflow.png

Portfolio Placeholder Images: http://lorempixel.com/400/200/